.color-block {
  background: #fff;
  border: 1px solid $pt-divider-black;
  border-radius: $pt-grid-size / 4;
  display: inline-block;
  margin: 0 $pt-grid-size $pt-grid-size 0;
  padding: $pt-grid-size / 2;
  position: relative;
  z-index: 1;

  > .swatch {
    cursor: pointer;
    height: 2 * $pt-grid-size;
    width: 3 * $pt-grid-size;
  }

  > .delete-button {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 16px;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;

    &:hover {
      background: rgba(0, 0, 0, 0.85);
    }
  }

  &:hover {
    > .delete-button {
      display: flex;
    }
  }
}

.color-picker {
  position: absolute;
  z-index: 10;
}
